.gameContainer {
    width: 35%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 0px 15px 5px #000000;
}

.gameContainer * {
    padding: 1vh;
}

.hangmanImage {
    width: 60%;
}

.hangmanKeyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1400px) {
    .gameContainer {
        width: 70%;
        height: 100%;
    }   
}