.descriptive-div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    color: #78acff;
    background-color: #003487;
    font-size: larger;
    text-align: justify;
    box-shadow: -5px 5px 15px 5px #000000;
}

.descriptive-div p {
    padding: 2%;
}

.text-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
}

.text-container h3 {
    color: black;
}

@media only screen and (max-width: 1400px) {
    .descriptive-div {
        width: 100%;
        height: unset;
    }

    .text-container * {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}